/* ================= RESET ================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat',sans-serif;
    overflow-x:hidden;
    background:#f4f1e8;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

/* ================= HEADER ================= */

.tickets-header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:25px 45px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}

.header-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    width:55px;
}

.second-logo{
    width:90px;
}

.menu-btn{
    width:46px;
    height:46px;

    border-radius:50%;
    border:1.5px solid #222;

    background:transparent;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    font-size:24px;

    transition:.3s;
}

.menu-btn:hover{
    background:#020b2f;
    color:#fff;
}

/* ================= PAGE ================= */

.tickets-page{

    position:relative;

    display:flex;

    min-height:100vh;

    overflow:hidden;

    background:#f4f1e8;

    /* padding-top: 0; */

     align-items: flex-start;
       animation:fadeUp .8s ease;

} 



/* الخلفية المائلة */

.diagonal-bg{

    position:absolute;

    left:0;
    top:0;

    width:62%;
    height:100%;

    background:#020b2f;

    clip-path:polygon(
        0 0,
        100% 0,
        83% 100%,
        0 100%
    );

    z-index:0;
}
 

/* ================= LEFT ================= */

.left-side{

    position:relative;

    z-index:5;

    width:40%;

    padding:

        50px

        60px

        70px;

}



.ticket-title{

    text-align:center;

}

.ticket-title h1{

    font-family:"Cormorant Garamond",serif;

    font-size:50px;

    color:#fff;

    line-height:.8;

}

.ticket-title span{

    display:block;

    margin-top:12px;

    color:#d34761;

    letter-spacing:4px;

    font-size:18px;

}

/* ================= WAVE ================= */

.wave-line{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin:0;

}

.wave-title img{

    width:60px;

}

/* ================= LIST ================= */

.concert-list{

    display:flex;

    flex-direction:column;

    gap:28px;

}

/* ================= CARD ================= */

.concert-card{

    position:relative;

    display:flex;

    align-items:center;

    gap:18px;

    padding:18px 22px;

    height:125px;

    border-radius:16px;

    border:1px solid rgba(255,255,255,.15);

    color:#fff;

    background:rgba(255,255,255,.02);

    transition:.35s;

}

/* فتحة التيكت */

.concert-card::after{

    content:"";

    position:absolute;

    right:-16px;

    top:50%;

    transform:translateY(-50%);

    width:32px;

    height:62px;

    background:#020b2f;

    border-radius:50%;

}

.concert-card.active{

    border-color:#0c8cff;

    box-shadow:0 0 20px rgba(12,140,255,.25);

}

/* ================= IMAGE ================= */

.concert-card img{

    width:92px;

    height:62px;

    border-radius:6px;

    object-fit:cover;

}

/* ================= INFO ================= */

.concert-info{

    flex:1;
  

}

.concert-info span{

    color:#d34761;

    font-size:15px;

}

.concert-info h3{
   

    margin-top:8px;

    font-size:12px;

    font-weight:300;

    

}

.concert-info p{

    margin-top:8px;

    font-size:11px;
     
    text-align: center;

    opacity:.7;

}

/* ================= DATE ================= */

.concert-date{

    min-width:80px;

    text-align:center;

    border-left:1px solid rgba(255,255,255,.15);

    padding-left:20px;

}

.concert-date strong{

    display:block;

    font-size:34px;

    line-height:1;

}

.concert-date span{

    display:block;

    color:#0c8cff;

    margin:5px 0;

}

.concert-date small{

    opacity:.7;

    font-size:12px;

}


/* ================= CENTER ================= */

.center-side{
    position:relative;

    width:20%;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:8;
}
/* التذكرة */

.center-ticket{

    position:absolute;

    width:1000px;
      max-width:none; 

    left:-320px;
    top:40%;

    transform:translate(-50%,-50%) rotate(10deg);

     z-index:15;

    filter:drop-shadow(0 30px 40px rgba(0,0,0,.4));

    pointer-events:none;
    animation:floatTicket 3s ease-in-out infinite;
} 



/* ================= RIGHT ================= */

.right-side{

    position:relative;

    width:42%;

    padding:

        60px
        65px
        40px;

    z-index:5;
}


/* العنوان */

.right-side h2{

    font-family:"Cormorant Garamond",serif;

    font-size:28px;

    color:#222;

    text-align:center;

    margin-bottom:30px;

}
/* الصورة */

.main-concert{

    width:80%;

    border-radius:25px;

    margin-bottom:28px;

    margin-left: 50px;

}


/* ================= DETAILS ================= */

.details-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    margin-bottom:20px;

}

.detail{

    text-align:center;

    padding:0 5px;

    border-right:1px solid #cfc7ba;

}

.detail:last-child{

    border:none;

}

.detail i{

    font-size:30px;

    color:#666;

    margin-bottom:12px;

}

.detail h4{

    color:#555;

    font-size:14px;

    letter-spacing:1px;

}

.detail p{

    margin-top:8px;

    font-size:13px;

    color:#666;

}

.detail small{

    display:block;

    margin-top:5px;

    color:#888;

}

/* ================= DIVIDER ================= */

.divider{

    width:100%;

    height:1px;

    background:#cfc7ba;

    margin:35px 0;

}

/* ================= ABOUT ================= */

.about{

    text-align:center;

}

.about h3{

    color:#d46b6b;

    font-size: 20px;

    margin-bottom:18px;

    letter-spacing:2px;

}

.about p{

    color:#666;

    line-height:1.8;

    font-size: 15px;

    margin-bottom:35px;

}

/* ================= BUTTON ================= */

.book-btn{

    display:inline-flex;

    justify-content:center;
    align-items:center;

    width:320px;
    height:58px;

    border-radius:50px;

    border:1px solid #d46b6b;

    color:#d46b6b;

    font-weight:600;

    transition:.35s;

}

.book-btn:hover{

    background:#d46b6b;

    color:#fff;

}

@keyframes floatTicket{

    0%,100%{

        transform:
        rotate(11deg)
        translateY(0);

    }

    50%{

        transform:
        rotate(11deg)
        translateY(-8px);

    }

}



@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.concert-card:hover{

    transform:translateX(10px);

}

@keyframes floatTicket{

    0%,100%{

        transform:
        rotate(-10deg)
        translateY(0);

    }

    50%{

        transform:
        rotate(-10deg)
        translateY(-12px);

    }

}

.book-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 20px rgba(0,0,0,.2);

}

@keyframes floatTicket{
    0%,100%{
        transform: rotate(10deg) translateY(0);
    }

    50%{
        transform: rotate(10deg) translateY(-12px);
    }
}


@media (max-width:1600px){

.left-side{
    width:39%;
    padding:45px 50px 60px;
}

.center-side{
    width:20%;
}

.right-side{
    width:41%;
    padding:55px 55px 35px;
}

.ticket-title h1{
    font-size:46px;
}

.center-ticket{
    width:900px;
    left:-285px;
}

.main-concert{
    width:78%;
    margin-left:45px;
}

.book-btn{
    width:290px;
    height:54px;
}

}

@media (max-width:1536px){

.left-side{
    width:40%;
}

.center-side{
    width:19%;
}

.right-side{
    width:41%;
}

.ticket-title h1{
    font-size:43px;
}

.ticket-title span{
    font-size:17px;
}

.center-ticket{
    width:840px;
    left:-270px;
}

.concert-card{
    height:118px;
}

.concert-card img{
    width:84px;
    height:58px;
}

.main-concert{
    width:75%;
}

.detail h4{
    font-size:13px;
}

.detail p{
    font-size:12px;
}

.about p{
    font-size:14px;
}

}

@media (max-width:1440px){

.left-side{
    width:40%;
    padding:40px 40px 50px;
}

.center-side{
    width:18%;
}

.right-side{
    width:42%;
    padding:45px 45px 30px;
}

.ticket-title h1{
    font-size:40px;
}

.ticket-title span{
    font-size:16px;
}

.wave-title img{
    width:52px;
}

.center-ticket{
    width:760px;
    left:-245px;
}

.concert-card{
    height:108px;
    padding:15px 18px;
}

.concert-card img{
    width:76px;
    height:52px;
}

.concert-date strong{
    font-size:30px;
}

.main-concert{
    width:72%;
    margin-left:40px;
}

.right-side h2{
    font-size:25px;
}

.about h3{
    font-size:18px;
}

.about p{
    font-size:13px;
}

.book-btn{
    width:260px;
    height:50px;
}

}

@media (max-width:1366px){

.left-side{
    width:41%;
    padding:35px 35px 45px;
}

.center-side{
    width:17%;
}

.right-side{
    width:42%;
    padding:40px 35px 25px;
}

.ticket-title h1{
    font-size:36px;
}

.ticket-title span{
    font-size:15px;
}

.wave-title img{
    width:46px;
}

.concert-list{
    gap:20px;
}

.concert-card{
    height:98px;
    padding:12px 15px;
}

.concert-card img{
    width:68px;
    height:48px;
}

.concert-info span{
    font-size:13px;
}

.concert-info h3{
    font-size:11px;
}

.concert-info p{
    font-size:10px;
}

.concert-date strong{
    font-size:26px;
}

.concert-date small{
    font-size:10px;
}

.center-ticket{
    width:690px;
    left:-220px;
}

.main-concert{
    width:70%;
    margin-left:35px;
}

.right-side h2{
    font-size:22px;
}

.detail i{
    font-size:24px;
}

.detail h4{
    font-size:12px;
}

.detail p{
    font-size:11px;
}

.about h3{
    font-size:17px;
}

.about p{
    font-size:12px;
}

.book-btn{
    width:230px;
    height:46px;
    font-size:14px;
}

}