body{
    margin:0;
    padding:0;
}
/* JOIN US */

img {
    max-width: 100%;
}

.logos {
    display: flex;
    align-items: center;
    gap: 15px;
}


header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

header,
.navbar{
    background:transparent;
}

.navbar-brand {
    margin: 0;
}

.navbar-brand img {
    width: 70px;
}

.second-logo {
    width: 90px;
}

.join-page {
    background:
        linear-gradient(90deg,
            #02091f 0%,
            #02091f 55%,
            #f4f4f4 65%,
            #f4f4f4 100%);

    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 100px 5% 0;
}

.join-left {
    width: 27%;
    flex: none;
}

.join-center {
    width: 33%;
    flex: none;
    text-align: center;
}

.join-right {
    width: 40%;
    padding-left: 120px;
    flex: none;
   
}


.join-center img {

    width: 170%;
    max-width: none;
    transform: translateX(-160px);
    display: block;
    margin: auto;
    margin-top: -110px;
}

.voice-text {
    color: #d94b5d;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.join-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: #111;
    font-weight: 700;
    margin-bottom: 30px;
}

.join-wave {
    text-align: center;
}

.join-wave img {
    display: block;
    margin: auto;
    width: 260px;
    transform: translateX(30px);
}

.join-left-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    color: #fff;
    line-height: .9;
    text-align: center;
}

.join-form {
    margin-top: 20px;
}

.join-form input,
.join-form select {

    width: 100%;
    height: 60px;

    margin-bottom: 25px;

    border: 1px solid #d9a6b0;

    border-radius: 15px;

    background: transparent;

    padding: 0 20px;

    font-size: 16px;
}

.join-form button {

    width: 100%;
    height: 60px;

    border: none;

    border-radius: 40px;

    color: #fff;

    font-size: 18px;

    background: linear-gradient(90deg,
            #e3203f,
            #1e3cff);

    cursor: pointer;
}

.join-left-title span {
    color: #d72638;
}

.voice-message {
    text-align: center;
    margin-top: 35px;
    font-size: 22px;
    font-family: "Cormorant Garamond", serif;
    color: #222;
}

.voice-message .red {
    color: #d72638;
}

.voice-message .blue {
    color: #1e90ff;
}

.requirements {
    margin-top: 15px;
}

.requirements h4 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}

.requirement-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 25px;
}

.requirement-card i {
    font-size: 28px;
    color: #fff;
    min-width: 30px;
}

.requirement-card h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

.requirement-card p {
    color: #cfcfcf;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    max-width: 260px;
}

.join-quote {
    margin-top: 35px;
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
    color: #0d6efd;
    font-family: "Cormorant Garamond", serif;
}

.join-quote span {
    color: #d72638;
}



.join-divider img {
    display: block;
    margin: 0 auto;
    width: 350px;
}


.bottom-wave {
    width: 250px;
    margin-top: 15px;
    display: block;
}



@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}